*{
    margin: 0%;
    padding: 0%;
    width: 100%;
    box-sizing: continer
}
.condiner{
    width: 40%;
    border: 3px dashed red;
    font-size: 2rem;
    padding: 1%;
    margin: 1em auto;
    text-align: center;
}
h1{

}